name: CI

on:
  push:
  pull_request:

jobs:
  build-test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        build_type: [Release, Debug, Asan, Tsan]
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y ninja-build g++

      - name: Configure
        run: |
          CXX=$(which g++) CC=$(which gcc) cmake -S . \
            -B build/${{ matrix.build_type }} -G Ninja \
            -DCMAKE_BUILD_TYPE=${{ matrix.build_type }}

      - name: Build
        run: |
          ninja -C build/${{ matrix.build_type }}

      - name: Test
        run: |
          ./build/${{ matrix.build_type }}/tests/proto_coro_tests
